body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #434455;
    background-color: #ffffff;
}

.contacts a:hover,
.contacts a:focus {
    color: #404bbf;
}
header {
    background:#fff;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.button:hover,
.button:focus {
    background-color:#404bbf;
    color: black; 
}
.mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}
.phone {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}
    button {
        cursor: pointer;
    }
    .studio {
        color: #2e2f42;
    }
    .logotip {
        font-size: 18px;
        line-height: 1.16667;
        font-weight: 700;
    }
    .nav-menu {
        font-size: 16px;
        color: #2e2f42;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    .contacts {
        font-size: 16px;
        line-height: 1.5;
        color: #434455;
        font-style: normal;
    }
    .title-1 {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        color: #ffffff;
        letter-spacing: 0.02em;
        text-align: center;
    }
    .title {
        background: #2e2f42;
    }
    .button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        background: #4d5ae5;
        font-family: "Roboto", sans-serif;
        letter-spacing: 0.04em;
        color: #ffffff;
    }
    .h3-1 {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: #2e2f42;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }
    .h3-2 {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: #2e2f42;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
    }
    .description {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #434455;
        letter-spacing: 0.02em;
    }
    .advantages {
        background: #fff;
    }
    .team {
        background: #f4f4fd;
    }
    .p-team {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #434455;
        letter-spacing: 0.02em;
        text-align: center;
    }
    .introduction {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        color: #2e2f42;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #434455;
    }
    footer {
        background: #2e2f42;
    }
    .studio-footer {
        color: #f4f4fd;
    }
    .p-footer {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
    }
